body {
    background-color: rgb(108, 255, 243);
}
h1{
    background-color: rgb(250, 250, 85);
    text-align:center;
    margin-top: auto;
    width:fit-content;
    border-style:solid;
    border-radius: 1cm;

    
}
h5{
    background-color: white;
    font-weight: bold;
    font-style:italic;
}
div{
    text-align:center;
    border: solid;

}

#Description{
    background-color: blue;
    color: white;
    border-radius: 1cm;
    text-align: center;
    border-style: solid;
    border-color: black;

    
}
#Ingredients {
    background-color: green;
    color: white;
    border-radius: 1cm;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#Steps {
    background-color: rgb(19, 74, 226);
    color: white;
    border-radius: 1cm;
    text-align: center;
}
#button {
    background-color: rgb(165, 247, 128);
    font-size: medium;
    border-radius: 1cm;
}


