body {
    background-color:lightsteelblue;
    margin: 16px;
}
.media {
    display: flex;
    align-items: center;
    border: solid;
    flex-wrap: wrap;

}
.media ,
.media-dscr {
    justify-content: center;
    flex: 1;
    padding: 10px;
    margin: auto;

}


h1{
    background-color: whitesmoke;
    margin: auto;
    font-style: italic;
    text-align:center;
    padding: 8px;
    width:fit-content;
    border-style:solid;
    
    
}
h5{
    background-color: white;
    font-weight: bold;
    font-style:italic;
}
div{
    text-align:center;
   

}

#Description{
    background-color: blue;
    color: white;
    border-radius: 1cm;
    text-align: center;
    
    border-color: black;

    
}
#Ingredients {
    background-color: green;
    color: white;
    border-radius: 1cm;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#Steps {
    background-color: rgb(19, 74, 226);
    color: white;
    border-radius: 1cm;
    text-align: center;
}
#button {
    background-color: rgb(255, 185, 79);
    font-size: medium;
    border-radius: 1cm;
    display: block;
    padding: 8px;
   
}
.img {
    border-style: solid;
    border-color:beige;
    max-width: 100%;
    flex :0 1 auto;

}
li{
    padding: 2px;
}


